In [9]:
import numpy as np
import pandas as pd

mult01 = pd.DataFrame(np.around(10*np.random.randn(36).reshape(9,4)),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 3, 1, 2, 2, 3]])
#   给index传入嵌套列表，形成两层index
mult01

        0     1     2     3
a 1  -5.0  -7.0  -6.0  -0.0
  2   8.0   2.0   2.0  -1.0
  3  26.0  -7.0   7.0  -8.0
b 1   6.0   6.0 -11.0   1.0
  3  -5.0  -6.0   1.0   2.0
c 1  11.0  -0.0  -6.0   9.0
  2   6.0 -15.0 -10.0   5.0
d 2  -4.0  -4.0  -5.0  22.0
  3  15.0  -7.0   5.0  10.0

In [10]:
mult01.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [39]:
mult01.loc[:,2]

a  1    -6.0
   2     2.0
   3     7.0
b  1   -11.0
   3     1.0
c  1    -6.0
   2   -10.0
d  2    -5.0
   3     5.0
Name: 2, dtype: float64

In [41]:
mult01.loc[:,2].loc[:,1]

a    -6.0
b   -11.0
c    -6.0
Name: 2, dtype: float64

In [44]:
Series_mult01 = mult01.loc[:,2].copy()

In [45]:
Series_mult01

a  1    -6.0
   2     2.0
   3     7.0
b  1   -11.0
   3     1.0
c  1    -6.0
   2   -10.0
d  2    -5.0
   3     5.0
Name: 2, dtype: float64

In [46]:
Series_mult01.unstack()

      1     2    3
a  -6.0   2.0  7.0
b -11.0   NaN  1.0
c  -6.0 -10.0  NaN
d   NaN  -5.0  5.0

In [47]:
mult01

        0     1     2     3
a 1  -5.0  -7.0  -6.0  -0.0
  2   8.0   2.0   2.0  -1.0
  3  26.0  -7.0   7.0  -8.0
b 1   6.0   6.0 -11.0   1.0
  3  -5.0  -6.0   1.0   2.0
c 1  11.0  -0.0  -6.0   9.0
  2   6.0 -15.0 -10.0   5.0
d 2  -4.0  -4.0  -5.0  22.0
  3  15.0  -7.0   5.0  10.0

In [48]:
mult01.unstack()

      0               1                2               3
      1    2     3    1     2    3     1     2    3    1     2     3
a  -5.0  8.0  26.0 -7.0   2.0 -7.0  -6.0   2.0  7.0 -0.0  -1.0  -8.0
b   6.0  NaN  -5.0  6.0   NaN -6.0 -11.0   NaN  1.0  1.0   NaN   2.0
c  11.0  6.0   NaN -0.0 -15.0  NaN  -6.0 -10.0  NaN  9.0   5.0   NaN
d   NaN -4.0  15.0  NaN  -4.0 -7.0   NaN  -5.0  5.0  NaN  22.0  10.0

In [49]:
mult01.unstack().loc[:,0]

      1    2     3
a  -5.0  8.0  26.0
b   6.0  NaN  -5.0
c  11.0  6.0   NaN
d   NaN -4.0  15.0

In [50]:
mult01.unstack().stack()

        0     1     2     3
a 1  -5.0  -7.0  -6.0  -0.0
  2   8.0   2.0   2.0  -1.0
  3  26.0  -7.0   7.0  -8.0
b 1   6.0   6.0 -11.0   1.0
  3  -5.0  -6.0   1.0   2.0
c 1  11.0  -0.0  -6.0   9.0
  2   6.0 -15.0 -10.0   5.0
d 2  -4.0  -4.0  -5.0  22.0
  3  15.0  -7.0   5.0  10.0

In [52]:
mult02 = pd.DataFrame(np.around(10*np.random.randn(45).reshape(5,9)),
                      columns=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                               [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [91]:
mult02

      a                b           c           d
      1    2     3     1     3     1     2     2     3
0  -3.0  6.0 -10.0   4.0  -4.0  -3.0  14.0  15.0  -9.0
1 -13.0 -1.0  -2.0  -1.0   2.0 -10.0  -1.0  22.0   8.0
2   1.0 -2.0  -5.0   9.0   4.0   1.0   3.0  -2.0  19.0
3   8.0  3.0  -4.0  -2.0 -11.0   1.0  20.0  -4.0   1.0
4  -5.0 -3.0   1.0 -20.0   7.0 -19.0 -17.0 -13.0  14.0

In [96]:
mult02.groupby(level='a').sum()

ValueError: level name a is not the name of the index

In [87]:
frame01 = pd.DataFrame(np.arange(32).reshape((4, 8)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio','Ohio','Ohio', 'SFC','SFC','SFC', 'Colorado', 'Colorado'],
                              ['Green', 'Red', 'Blue','Green', 'Red', 'Blue','Green', 'Red']])
# index和columns都可以分层

frame01.index.names = ['key1', 'key2']
frame01.columns.names = ['state', 'color']
# index和columns每层都可以有单独的名字

In [88]:
frame01

state      Ohio            SFC          Colorado
color     Green Red Blue Green Red Blue    Green Red
key1 key2
a    1        0   1    2     3   4    5        6   7
     2        8   9   10    11  12   13       14  15
b    1       16  17   18    19  20   21       22  23
     2       24  25   26    27  28   29       30  31

In [58]:
frame01.loc[:,'Ohio']

color      Green  Red  Blue
key1 key2
a    1         0    1     2
     2         8    9    10
b    1        16   17    18
     2        24   25    26

In [61]:
frame01.loc[:,'Ohio'].loc[:,:]

color      Green  Red  Blue
key1 key2
a    1         0    1     2
     2         8    9    10
b    1        16   17    18
     2        24   25    26

In [67]:
frame01.swaplevel('key1','key2')

state      Ohio            SFC          Colorado
color     Green Red Blue Green Red Blue    Green Red
key2 key1
1    a        0   1    2     3   4    5        6   7
2    a        8   9   10    11  12   13       14  15
1    b       16  17   18    19  20   21       22  23
2    b       24  25   26    27  28   29       30  31

In [69]:
frame01

state      Ohio            SFC          Colorado
color     Green Red Blue Green Red Blue    Green Red
key1 key2
a    1        0   1    2     3   4    5        6   7
     2        8   9   10    11  12   13       14  15
b    1       16  17   18    19  20   21       22  23
     2       24  25   26    27  28   29       30  31

In [71]:
frame01.sort_index(level=1)

state      Ohio            SFC          Colorado
color     Green Red Blue Green Red Blue    Green Red
key1 key2
a    1        0   1    2     3   4    5        6   7
b    1       16  17   18    19  20   21       22  23
a    2        8   9   10    11  12   13       14  15
b    2       24  25   26    27  28   29       30  31

In [76]:
frame01.sort_values(by=('SFC','Green'))

state      Ohio            SFC          Colorado
color     Green Red Blue Green Red Blue    Green Red
key1 key2
a    1        0   1    2     3   4    5        6   7
     2        8   9   10    11  12   13       14  15
b    1       16  17   18    19  20   21       22  23
     2       24  25   26    27  28   29       30  31

In [85]:
frame01.groupby(level=0).mean()

state  Ohio               SFC             Colorado
color Green   Red  Blue Green   Red  Blue    Green   Red
key1
a       4.0   5.0   6.0   7.0   8.0   9.0     10.0  11.0
b      20.0  21.0  22.0  23.0  24.0  25.0     26.0  27.0

In [98]:
frame01.groupby(level=0).sum()

state  Ohio            SFC          Colorado
color Green Red Blue Green Red Blue    Green Red
key1
a         8  10   12    14  16   18       20  22
b        40  42   44    46  48   50       52  54

In [110]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                            'data1': range(7)})

df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                            'data2': range(3)})
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})

df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})
# df1和df2存在重合的列key，使用merge将两列合并
# 可选参数：
# on='key' 有columns重合时，on指明重合的columns名称
# left_on='lkey',right_on='rkey'   columns名称不重合时，可以设置分别成两列
# how='inner'或者how='outer'  　
# inner时表示重叠列求交集，只将相同重叠列的相同元素放在一起
# outer时表示重叠列求并集，所有元素都会放在一起，空位放NaN

In [108]:
pd.merge(df1,df2,on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [114]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [115]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey',how='outer')

  lkey  data1 rkey  data2
0    b    0.0    b    1.0
1    b    1.0    b    1.0
2    b    6.0    b    1.0
3    a    2.0    a    0.0
4    a    4.0    a    0.0
5    a    5.0    a    0.0
6    c    3.0  NaN    NaN
7  NaN    NaN    d    2.0

In [117]:
df5 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'data1': range(6)})

df6 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
                    'data2': range(5)})
pd.merge(df5,df6,how='left',on='key')

   key  data1  data2
0    b      0    1.0
1    b      0    3.0
2    b      1    1.0
3    b      1    3.0
4    a      2    0.0
5    a      2    2.0
6    c      3    NaN
7    a      4    0.0
8    a      4    2.0
9    b      5    1.0
10   b      5    3.0

In [118]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})

right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})

# 多个键合并，令on=['key1','key2']，传入希望重叠的多个键列表
# 如果仍然以其中1个键merge，则参数suffixes=('_x','_y')给未被merge但重名的键添加区别
# 如果希望根据index进行merge（将index视作连接键），则添加参数left_index=Ture,right_index=True
pd.merge(left,right,on=['key1','key2'],how='outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

In [119]:
pd.merge(left,right,on=['key1'],how='outer',suffixes=('_left','right'))

  key1 key2_left  lval key2right  rval
0  foo       one     1       one     4
1  foo       one     1       one     5
2  foo       two     2       one     4
3  foo       two     2       one     5
4  bar       one     3       one     6
5  bar       one     3       two     7

In [124]:
# 根据index进行merge，添加参数left_index=Ture,right_index=True
left02 = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]},index=['a','b','c'])

right02 = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]},index=['a','b','c','d'])
pd.merge(left02,right02,left_index=True,right_index=True,
         how='outer',suffixes=('_left','right'))

  key1_left key2_left  lval key1right key2right  rval
a       foo       one   1.0       foo       one     4
b       foo       two   2.0       foo       one     5
c       bar       one   3.0       bar       one     6
d       NaN       NaN   NaN       bar       two     7